 body {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f2f2f2;
     color: #333;
 }

 header {
     background-color: #141414;
     color: #fff;
     padding: 20px 0;
     text-align: center;
 }

 nav {
     background-color: #000;
     padding: 10px 0;
     text-align: center;
 }

 nav a {
     color: #fff;
     text-decoration: none;
     padding: 0 20px;
 }

 nav a:hover {
     color: #ccc;
 }

 section {
     padding: 50px 0;
     text-align: center;
 }

 .section-heading {
     font-size: 2.5em;
     margin-bottom: 20px;
 }

 .section-content {
     max-width: 800px;
     margin: 0 auto;
 }

 footer {
     background-color: #000;
     color: #fff;
     padding: 20px 0;
     text-align: center;
 }

 .feature {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
 }

 .feature img {
     max-width: 300px;
     margin-right: 20px;
 }

 .feature-text {
     text-align: left;
 }

 .feature-text h2 {
     font-size: 1.5em;
 }

 .feature-text p {
     font-size: 1em;
     line-height: 1.6;
 }